*{
  margin:0;
  padding: 0;
  font-family:"Sofia", sans-serif;
  text-align: center;
}

html{
  background-color: rgb(38, 29, 39);
}

h1{
  font-size:30px;
  font-family: 'Press Start 2P';
  padding-top:85px;
  padding-left: 40px;
  padding-right: 40px;
  color: rgb(236, 194, 231);
}

.flex-container {
  display: flex;
  flex-direction: row;
  background-color: rgb(50, 49, 73);
}

.flex-container > div {
  width: 550 px;
  text-align: center;
  line-height:0px;
  font-size: 30px;
}

.underFlex-conrainer{
  background-color: rgb(27, 29, 30);
  color: aliceblue;
  font-family: 'Press Start 2P';
  height: 30px;
  padding-top: 10px;
  padding-left: 20px;
  text-align: start;
}

.sideBar{
  background-color:  rgb(148, 154, 138);
  height:550px;
  width: 260px;
}
