*{
  margin:0;
  padding: 0;
  text-align: center;
  font-family: 'Press Start 2P';
}

html{
  background-color: rgb(255, 255, 255);
}

h1{
  font-size:18px;
  padding-top:75px;
  padding-left: 40px;
  padding-right: 40px;
  color: rgb(236, 194, 231);
}

h2{
  font-family: 'Press Start 2P';
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(182, 255, 193)
}

p {
  padding-top: 10px;
  color: rgb(236, 194, 231);
}

.container {
  display: flex;
  flex-direction: row;
  background-color: rgb(50, 49, 73);
}


.text-container{
  background-color: rgb(27, 29, 30);
  color: aliceblue;
  font-family: 'Press Start 2P';
  height: 30px;
  padding: 20px;
  padding-top: 30px;
  padding-left: 37px;
  text-align: start;
  font-size: 15px;
}

.gallery {
  border: 1px solid black;
  margin: 1rem;
  padding: 1rem 1rem;
  text-align: center;
  background-color: rgb(50, 49, 73);
}
.picture {
  display: inline-block;
  border: 1px solid rgb(148, 141, 141);
  background-color: rgb(27, 29, 30);
  padding: 1rem 1rem;
  vertical-align: middle;
  
}

button{
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: rgb(236, 194, 231);
  border-color: black;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;

}

button:hover {
  background-color: rgb(53, 23, 49); 
  color:rgb(236, 194, 231)
}
